// node_modules
//@import "~normalize.css";

//@import (css) "../css/style.css";

div {
	h2 {
		color: blue;
	}

	p {
		text-decoration: underline;
		border-radius: 5px;
		/* SVG to inline */
		background: svg-load('../svg/arrow.svg');
		background-size: 20px;
	}
}
